.first{
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.para1{
    font-size: 10px;
}

.para2{
    font-size: 30px;
    margin-top: 0;
}

.work{
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    gap: 6rem;
}

.work1{
    width: 40%;
    height: 75vh;
    background-color: #F8F9FA;
    border-radius: 5%;
    /* margin: 10px 20px 20px 70px; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work1:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}

.image{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 100%;
    height: 50vh;
}

.para3{
    margin: 0;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.para4{
    margin: 0;
    margin-left: 15px;
    margin-top: 20px;
}